{% extends 'base.html' %} {% block content %}

    <div class="accordion" id="dash_accordion">
{#        {% for d in department %}#}
        {% for item in queryset %}

            <div class="card">
                <div class="card-header" id="create">

                    <button class="btn btn-d" type="button" data-toggle="collapse" data-target="#{{ item }}"
                            aria-expanded="true">{{ item.deptid.name }}</button>

                    <p>{{ item.title }}</p>

                    <form method="POST" action="{% url 'department:create' item.compid.id  item.deptid.id %}">
                        {#        {% csrf_token %}#}
                        {% if item.deptid.id in permission_department_list %}
                            <input type="submit" class="btn btn-info" value="Create" style="float: right"/>
                        {% endif %}
                    </form>

                </div>

                <div id="{{ item }}" class="collapse" data-parent="#create">
                    <div class="card-body"></div>
                </div>

            </div>

        {% endfor %}

    </div>

{% endblock content %}
